body {
    background-color: #070a0e;
}

p {
    background: -webkit-linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: 400;
}

.card {
    background-color: #121b23;
    padding: 36px 24px;
    border-radius: 25px;
}

.card .container-img {
    height: 200px;
}

.card .card-body {
    text-align: center;
}

.card-title {
    color: #ffffff;
}

.top-page {
    background-image: linear-gradient(to right, #3b4260 0%, #401d3b 100%);
}

.gradient-top {
    background-image: linear-gradient(
        to top,
        #070a0e 0%,
        rgba(7, 10, 14, 0.45) 43.35%,
        rgba(7, 10, 14, 0.1) 77.34%,
        rgba(7, 10, 14, 0) 100%
    );
}

.jumbotron h1 {
    background: -webkit-linear-gradient(
        45deg,
        rgba(188, 110, 255, 1) 0%,
        rgb(29, 162, 182) 180%
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    line-height: 1.4;
}

.scroll-to-top {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: none;
    width: 3.5rem;
    height: 3.5rem;
    text-align: center;
    color: #fff;
    background: rgba(90, 92, 105, 0.5);
    line-height: 46px;
}
.scroll-to-top:focus,
.scroll-to-top:hover {
    color: #fff;
}
.scroll-to-top:hover {
    background: #5a5c69;
}
.scroll-to-top i {
    font-weight: 800;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: 100;
}
#particles-js-brige {
    margin-top: 10px;
    position: absolute;
    width: 100%;
    height: 70%;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
#particles-js-brige2 {
    margin-top: 10px;
    position: absolute;
    width: 100%;
    height: 70%;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
#particles-js-brige3 {
    margin-top: 10px;
    position: absolute;
    width: 100%;
    height: 70%;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
#particles-js-brige4 {
    margin-top: 10px;
    position: absolute;
    width: 100%;
    height: 70%;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
#particles-js-brige5 {
    margin-top: 10px;
    position: absolute;
    width: 100%;
    height: 10%;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
@media only screen and (max-width: 767px) {
    #particles-js,
    #particles-js-brige,
    #particles-js-brige2,
    #particles-js-brige3,
    #particles-js-brige4 {
        height: 30%;
    }
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #070a0e;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(
        45deg,
        rgba(188, 110, 255, 1) 0%,
        rgba(0, 221, 255, 1) 180%
    );
    border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(
        45deg,
        rgb(88, 21, 155) 0%,
        rgba(30, 251, 235, 1) 180%
    );
}
.title {
    font-size: 3rem;
    background: -webkit-linear-gradient(
        45deg,
        #7d5dc6,
        #b06bc0,
        #e76b80,
        #ca8887,
        #bca3eb,
        #7fd989 90%
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-transform: uppercase;
    transition: background-color 0.25s ease 0s, color 0.25s ease 0s,
        box-shadow 0.5s ease 0s;
    animation: 7s ease 0s infinite normal none running cUFefP;
}

.title-2 {
    background: -webkit-linear-gradient(
        45deg,
        rgba(188, 110, 255, 1) 0%,
        rgb(29, 162, 182) 180%
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.glide__arrow.glide__arrow--left,
.glide__arrow.glide__arrow--right {
    opacity: 0;
    transition: opacity 1s;
}
.glide:hover .glide__arrow.glide__arrow--left,
.glide:hover .glide__arrow.glide__arrow--right {
    opacity: 1;
}
.splide:hover .glide__arrow.glide__arrow--left,
.splide:hover .glide__arrow.glide__arrow--right {
    opacity: 1;
}
